.prices {
  max-width: var(--section-max-width);
  margin: 0 auto;

  color: var(--text-gray-color);
  background-color: #111319;
  background-image: url(../images/prices/prices-background-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@supports (
  background-image: url('../images/prices/prices-background-mobile.webp')
) {
  .prices {
    background-image: url(../images/prices/prices-background-mobile.webp);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices/prices-background-mobile@2x.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  @supports (
    background-image: url('../images/prices/prices-background-mobile@2x.webp')
  ) {
    .prices {
      background-image: url(../images/prices/prices-background-mobile@2x.webp);
    }
  }
}

.prices-wrap {
  margin-bottom: 44px;
}

.prices-title {
  margin-bottom: 44px;

  font-size: 40px;
}

.prices-list {
  padding: 30px 20px 30px 40px;

  background-image: linear-gradient(
    180deg,
    rgb(23, 26, 36),
    rgba(23, 26, 36, 0.2) 100%
  );
}

.prices-list:last-child {
  display: none;
}

.prices-list-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;

  max-width: 100%;

  font-size: 14px;
  line-height: 1.43;
}

.prices-list-item p:first-child {
  max-width: 60%;
}

.prices-list-item:not(:last-child) {
  margin-bottom: 20px;
  word-break: break-word;
}

.prices-list-item p:first-child {
  order: -1;
}

.prices-list-item::before {
  content: '';

  flex-grow: 1;

  width: 8px;
  height: 1px;

  background-color: rgba(157, 164, 189, 0.12);
}

.prices-list-item p {
  letter-spacing: 0.02em;
}

.prices-btn {
  margin: 0 auto;
}

/* ----------------MIN-WIDTH: 400px---------------- */

@media screen and (min-width: 400px) {
  .prices-list-item p {
    flex-shrink: 0;
  }
}

/* ----------------MIN-WIDTH: 768px---------------- */

@media screen and (min-width: 768px) {
  .prices {
    background-image: url(../images/prices/prices-background-tablet.png);
  }

  @supports (
    background-image: url('../images/prices/prices-background-tablet.webp')
  ) {
    .prices {
      background-image: url(../images/prices/prices-background-tablet.webp);
    }
  }

  .prices-list {
    padding: 40px 32px;
  }

  .prices-list-item {
    font-size: 18px;
    line-height: 1.67;
  }

  .prices-list-item p:first-child {
    max-width: 70%;
  }

  .prices-title {
    font-size: 42px;
    letter-spacing: 0.05em;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices/prices-background-tablet@2x.png);
  }

  @supports (
    background-image: url('../images/prices/prices-background-tablet@2x.webp')
  ) {
    .prices {
      background-image: url(../images/prices/prices-background-tablet@2x.webp);
    }
  }
}

/* ----------------MIN-WIDTH: 1200px---------------- */

@media screen and (min-width: 1200px) {
  .prices {
    background-image: url(../images/prices/prices-background.png);
  }

  @supports (background-image: url('../images/prices/prices-background.webp')) {
    .prices {
      background-image: url(../images/prices/prices-background.webp);
    }
  }

  .prices-wrap {
    display: flex;
    gap: 30px;
  }

  .prices-list {
    width: calc((100% - 30px) / 2);
    padding: 30px 20px;
  }

  .prices-list-item-mobile {
    display: none;
  }

  .prices-list:last-child {
    display: block;

    background-image: linear-gradient(
      180deg,
      rgb(9, 11, 19),
      rgba(9, 11, 19, 0.2) 100%
    );
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices/prices-background@2x.png);
  }

  @supports (
    background-image: url('../images/prices/prices-background@2x.webp')
  ) {
    .prices {
      background-image: url(../images/prices/prices-background@2x.webp);
    }
  }
}
