:root {
  --font-family: 'OpenSans', sans-serif;
  --second-font-family: 'Raleway', sans-serif;

  --accent-color: #ff6c00;
  --text-white-color: #ffffff;
  --text-black-color: #303030;
  --sub-text-color: #555555;
  --text-gray-color: #9da4bd;
  --text-gray-color-with-transparency: rgba(157, 164, 189, 0.4);
  --background-color-light: #f7f7f7;
  --background-color-dark: #191c26;
  --backdrop-background-color: rgba(25, 28, 38, 0.2);
  --background-linear-gradient: linear-gradient(
    rgba(25, 28, 38, 0.2),
    rgba(25, 28, 38, 0.2)
  );

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --section-max-width: 1600px;
  --container-width-mobile: 480px;
  --container-width-tablet: 768px;
  --container-width-desktop: 1200px;

  --container-side-padding-mobile: 32px;
  --container-side-padding-tablet: 40px;
  --container-side-padding-desktop: 16px;
  --container-vertical-padding-mobile: 84px;
  --container-vertical-padding-tablet: 100px;
  --container-vertical-padding-desktop: 120px;
}
