<section id="about" class="about section">
  <div class="container about-container">
    <ul class="about-img-list">
      <li class="about-img-list-item">
        <picture>
          <source
            srcset="
              ./images/about/about-img-1.webp    1x,
              ./images/about/about-img-1@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/about/about-img-1.jpg    1x,
              ./images/about/about-img-1@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/about/about-img-1-tablet.webp    1x,
              ./images/about/about-img-1-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/about/about-img-1-tablet.jpg    1x,
              ./images/about/about-img-1-tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <img
            src="./images/about/about-img-1.jpg"
            alt="Barber service"
            width="270"
            height="444"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="about-img-list-item">
        <picture>
          <source
            srcset="
              ./images/about/about-img-2.webp    1x,
              ./images/about/about-img-2@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/about/about-img-2.jpg    1x,
              ./images/about/about-img-2@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/about/about-img-2-tablet.webp    1x,
              ./images/about/about-img-2-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/about/about-img-2-tablet.jpg    1x,
              ./images/about/about-img-2-tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <img
            src="./images/about/about-img-2.jpg"
            alt="Barber service"
            width="270"
            height="444"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>

    <div class="about-wrap">
      <p class="section-top-text">About</p>
      <h2 class="section-title about-wrap-title">
        Best Barbershop in your city
      </h2>
      <p class="section-bottom-text about-bottom-text">
        If you want to add more confidence to your image, you should
        <span class="about-bottom-text-item">definitely</span> visit us.
      </p>
      <p class="about-text">
        We are a team that never stops at what has been achieved and are thirsty
        for changes. And when you fall into the hands of our master, you will
        never be the same again. We are a team that is always "on the same wave"
        with clients. Therefore, we are always ready to improve everyone who
        comes to us!
      </p>
      <a href="#booking" class="button about-booking-btn"> Online-booking </a>
    </div>
  </div>
</section>
