<footer class="footer">
  <div class="container footer-container">
    <p class="footer-copyright">&#169; Copyright 2020</p>

    <ul class="list-links">
      <li>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="active-link"
          >Instagram</a
        >
      </li>

      <li>
        <a
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="active-link"
          >Youtube</a
        >
      </li>
    </ul>
  </div>
</footer>
