<header class="header dark-theme-text">
  <div class="container header-container">
    <nav class="nav">
      <a href="./index.html" aria-label="Site logo" class="logo">
        <svg class="logo-icon" width="68" height="56">
          <use href="./images/icons.svg#icon-logo"></use></svg
      ></a>

      <ul class="nav-list">
        <li class="nav-item">
          <a href="#about">About</a>
        </li>
        <li class="nav-item">
          <a href="#services">Services and prices</a>
        </li>
        <li class="nav-item">
          <a href="#barbers">Barbers</a>
        </li>
        <li class="nav-item">
          <a href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <div class="header-wrap">
      <a href="tel:+380441111111" class="header-tel active-link"
        >+38 044 111 11 11</a
      >
      <a href="#booking" class="button dark-theme-text">Online-booking</a>
    </div>

    <button
      type="button"
      aria-label="Open mobile menu"
      class="mobile-menu-btn open-mobile-menu-btn js-open-mobile-menu-btn"
    >
      <svg class="btn-menu-icon" width="24" height="16">
        <use href="./images/icons.svg#icon-open-mobile-menu"></use>
      </svg>
    </button>
  </div>
</header>
