<div class="is-hidden modal mobile-menu js-mobile-menu">
  <div class="mobile-menu-container">
    <button
      type="button"
      aria-label="Close mobile menu"
      class="mobile-menu-btn modal-btn-close mobile-menu-btn-close js-close-mobile-menu-btn"
    >
      <svg class="btn-menu-icon" width="19" height="19">
        <use href="./images/icons.svg#icon-close-mobile-menu"></use>
      </svg>
    </button>

    <ul class="mobile-menu-nav-list js-mobile-menu-nav-list">
      <li class="nav-item mobile-menu-nav-item js-mobile-menu-nav-item">
        <a href="#about">About</a>
      </li>
      <li class="nav-item mobile-menu-nav-item js-mobile-menu-nav-item">
        <a href="#services">Services and prices</a>
      </li>
      <li class="nav-item mobile-menu-nav-item js-mobile-menu-nav-item">
        <a href="#barbers">Barbers</a>
      </li>
      <li class="nav-item mobile-menu-nav-item js-mobile-menu-nav-item">
        <a href="#contacts">Contacts</a>
      </li>
    </ul>

    <a href="tel:+380441111111" class="header-tel active-link mobile-menu-tel"
      >+38 044 111 11 11</a
    >

    <a
      href="#booking"
      class="button mobile-menu-booking-btn js-mobile-menu-booking-btn"
    >
      Online-booking
    </a>

    <ul class="mobile-list-links">
      <li class="mobile-list-links-item">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="active-link"
          >Instagram</a
        >
      </li>
      <li class="mobile-list-links-item">
        <a
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="active-link"
          >Youtube</a
        >
      </li>
    </ul>
  </div>
</div>
