/* ----------------MIN-WIDTH: 400px---------------- */

@media screen and (min-width: 400px) {
  /* ---------------- HERO ---------------- */

  .hero-title {
    font-size: 48px;
  }

  /* ---------------- PRICES ---------------- */

  .prices-list-item p {
    flex-shrink: 0;
  }
}

/* ----------------MIN-WIDTH: 480px---------------- */

@media screen and (min-width: 480px) {
  /* ---------------- COMMON ---------------- */

  .container {
    width: var(--container-width-mobile);
  }

  /* ---------------- GALLERY ---------------- */

  .gallery-list-item {
    height: 360px;
  }
}

/* ----------------MAX-WIDTH: 767px---------------- */

@media screen and (max-width: 767px) {
  /* ---------------- HERO ---------------- */

  .hero-wrap {
    background-color: var(--text-black-color);
    background-image: var(--background-linear-gradient),
      url(../images/hero-background-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @supports (background-image: url("../images/hero-background-mobile.webp")) {
    .hero-wrap {
      background-image: var(--background-linear-gradient),
        url("../images/hero-background-mobile.webp");
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: var(--background-linear-gradient),
        url(../images/hero-background-mobile@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @supports (
      background-image: url("../images/hero-background-mobile@2x.webp")
    ) {
      .hero-wrap {
        background-image: var(--background-linear-gradient),
          url("../images/hero-background-mobile@2x.webp");
      }
    }
  }

  /* ---------------- ABOUT ---------------- */

  .about-img-list {
    display: none;
  }

  .about-wrap-title {
    max-width: 306px;
  }

  /* ---------------- BOOKING ---------------- */

  .booking-title {
    text-align: center;
  }

  .booking-form-btn {
    display: block;

    margin-left: auto;
    margin-right: auto;
  }

  /* ---------------- CONTACTS ---------------- */

  .contacts-title {
    text-align: center;
  }

  .contacts-address-break {
    display: none;
  }

  /* ---------------- FOOTER ---------------- */

  .list-links {
    order: -1;

    margin-left: auto;
  }
}

/* ----------------MIN-WIDTH: 768px---------------- */

@media screen and (min-width: 768px) {
  /* ---------------- COMMON ---------------- */

  body {
    font-size: 18px;
    line-height: 1.67;
  }

  .section {
    padding-top: var(--container-vertical-padding-tablet);
    padding-bottom: var(--container-vertical-padding-tablet);
  }

  .container {
    width: var(--container-width-tablet);
    padding-left: var(--container-side-padding-tablet);
    padding-right: var(--container-side-padding-tablet);
  }

  /* ---------------- HEADER ---------------- */

  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .logo {
    color: var(--text-black-color);
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 58px;

    margin-right: auto;
  }

  .nav-list {
    display: flex;
    gap: 20px;
  }

  .header-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .header-tel {
    text-align: center;
  }

  .mobile-menu-btn {
    display: none;
  }

  /* ---------------- HERO ---------------- */

  .hero-container {
    display: flex;

    padding-left: var(--container-side-padding-tablet);
    padding-right: var(--container-side-padding-tablet);
  }

  .hero-wrap {
    padding: 272px 100px 208px;
  }

  .hero-links-wrap {
    display: flex;
    align-items: flex-end;

    width: 100px;
    padding-bottom: 40px;
    padding-left: 28px;
  }

  .hero-links-list {
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
  }

  .hero-wrap {
    padding: 272px 100px 238px;
  }

  .swiper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    display: block;

    width: 100%;
    height: 100%;

    color: var(--text-white-color);
  }

  .swiper-wrapper,
  .swiper-slide {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    background-color: var(--text-black-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .swiper-slide-1 {
    background-image: var(--background-linear-gradient),
      url(../images/hero-background-tablet.jpg);
  }

  @supports (background-image: url("../images/hero-background-tablet.webp")) {
    .swiper-slide-1 {
      background-image: var(--background-linear-gradient),
        url("../images/hero-background-tablet.webp");
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .swiper-slide-1 {
      background-image: var(--background-linear-gradient),
        url(../images/hero-background-tablet@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @supports (
      background-image: url("../images/hero-background-tablet@2x.webp")
    ) {
      .swiper-slide-1 {
        background-image: var(--background-linear-gradient),
          url("../images/hero-background-tablet@2x.webp");
      }
    }
  }

  .swiper-slide-2 {
    background-image: var(--background-linear-gradient),
      url(../images/hero-background-slide-2-tablet.jpg);
  }

  @supports (
    background-image: url("../images/hero-background-slide-2-tablet.webp")
  ) {
    .swiper-slide-2 {
      background-image: var(--background-linear-gradient),
        url("../images/hero-background-slide-2-tablet.webp");
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .swiper-slide-2 {
      background-image: var(--background-linear-gradient),
        url(../images/hero-background-slide-2-tablet@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @supports (
      background-image: url("../images/hero-background-slide-2-tablet@2x.webp")
    ) {
      .swiper-slide-2 {
        background-image: var(--background-linear-gradient),
          url("../images/hero-background-slide-2-tablet@2x.webp");
      }
    }
  }

  .swiper-slide-3 {
    background-image: var(--background-linear-gradient),
      url(../images/hero-background-slide-3-tablet.jpg);
  }

  @supports (
    background-image: url("../images/hero-background-slide-3-tablet.webp")
  ) {
    .swiper-slide-3 {
      background-image: var(--background-linear-gradient),
        url("../images/hero-background-slide-3-tablet.webp");
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .swiper-slide-3 {
      background-image: var(--background-linear-gradient),
        url(../images/hero-background-slide-3-tablet@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @supports (
      background-image: url("../images/hero-background-slide-3-tablet@2x.webp")
    ) {
      .swiper-slide-3 {
        background-image: var(--background-linear-gradient),
          url("../images/hero-background-slide-3-tablet@2x.webp");
      }
    }
  }

  .swiper .swiper-pagination {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    gap: 4px;

    width: fit-content;
    height: fit-content;
    margin-left: auto;
  }

  .swiper-pagination-bullet {
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: end;

    width: 18px;
    height: 10px;

    color: currentColor;
    background-color: transparent;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    color: var(--text-white-color);
  }

  .swiper-pagination-bullet::after {
    content: "";

    display: block;

    width: 8px;
    height: 2px;

    background-color: currentColor;
  }

  .swiper-pagination-bullet-active.swiper-pagination-bullet::after {
    width: 18px;
  }

  .swiper-buttons {
    position: absolute;
    bottom: 40px;
    right: 20px;

    display: flex;
    gap: 24px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;

    width: 60px;
    height: 24px;

    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.1em;

    color: currentColor;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: "";

    position: absolute;
    bottom: -8px;
    left: 0;

    width: 60px;
    height: 1px;

    background-color: currentColor;
  }

  .swiper-button-prev {
    justify-content: start;
  }

  .swiper-button-next {
    justify-content: end;
  }

  .hero-bottom-text {
    max-width: 360px;
  }

  /* ---------------- ABOUT ---------------- */

  .about-container {
    display: flex;
    gap: 30px;
  }

  .about-img-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-shrink: 0;
  }

  .about-wrap {
    display: flex;
    flex-direction: column;
  }

  .about-text {
    margin-bottom: auto;
  }

  .about-booking-btn {
    align-self: start;
  }

  /* ---------------- PRICES ---------------- */

  .prices {
    background-image: url(../images/prices-background-tablet.png);
  }

  @supports (background-image: url("../images/prices-background-tablet.webp")) {
    .prices {
      background-image: url(../images/prices-background-tablet.webp);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .prices {
      background-image: url(../images/prices-background-tablet@2x.png);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @supports (
      background-image: url("../images/prices-background-tablet@2x.webp")
    ) {
      .prices {
        background-image: url(../images/prices-background-tablet@2x.webp);
      }
    }
  }

  .prices-list {
    padding: 40px 32px;
  }

  .prices-list-item {
    font-size: 18px;
    line-height: 1.67;
  }

  /* ---------------- BENEFITS ---------------- */

  .benefits-title {
    max-width: 448px;
  }

  .benefits-list {
    width: 450px;
  }

  .benefits-list-item {
    width: 210px;
  }

  /* ---------------- GALLERY ---------------- */

  .gallery-top-text {
    margin-bottom: 44px;
  }

  .gallery-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gallery-list-item {
    width: calc((100% - 30px) / 2);
  }

  /* ---------------- BOOKING + CONTACTS ---------------- */

  .booking,
  .contacts {
    padding: var(--container-vertical-padding-tablet)
      var(--container-side-padding-tablet);
  }

  .booking-inputs-wrap {
    flex-direction: row;
    gap: 30px;
  }

  .booking-input-label {
    width: calc((100% - 30px) / 2);
  }

  .contacts {
    background-image: url(../images/contacts-background-tablet.png);
  }

  @supports (
    background-image: url("../images/contacts-background-tablet.webp")
  ) {
    .contacts {
      background-image: url(../images/contacts-background-tablet.webp);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .contacts {
      background-image: url(../images/contacts-background@2x-tablet.png);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @supports (
      background-image: url("../images/contacts-background@2x-tablet.webp")
    ) {
      .contacts {
        background-image: url(../images/contacts-background@2x-tablet.webp);
      }
    }
  }

  .contacts-address {
    margin-bottom: 0;
  }

  /* ---------------- FOOTER ---------------- */

  .footer {
    padding: 56px 0;
  }

  .footer-container {
    flex-direction: row;
  }

  /* ---------------- MOBILE-MENU ---------------- */

  .mobile-menu {
    display: none;
  }
}

/* ----------------MIN-WIDTH: 768px and MAX-WIDTH: 1199px---------------- */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* ---------------- HEADER ---------------- */

  .header-tel {
    order: 1;
  }

  /* ---------------- ABOUT ---------------- */

  .about-img-list {
    width: 330px;
  }

  .about-img-list img {
    display: block;
    width: 100%;
  }

  /* ---------------- BENEFITS ---------------- */

  .benefits-bottom-text {
    max-width: 500px;
  }

  .benefits-list {
    margin-left: auto;
  }

  /* ---------------- BARBERS ---------------- */

  .barbers-container {
    width: 450px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  /* ---------------- CONTACTS ---------------- */

  .contacts-wrap {
    display: flex;
    gap: 30px;
  }

  .contacts-address,
  .contacts-working-wrap {
    width: calc((100% - 30px) / 2);
  }
}

/* ----------------MIN-WIDTH: 1200px---------------- */

@media screen and (min-width: 1200px) {
  /* ---------------- COMMON ---------------- */

  .section {
    width: 100%;
    padding-top: var(--container-vertical-padding-desktop);
    padding-bottom: var(--container-vertical-padding-desktop);
  }

  .container {
    width: var(--container-width-desktop);
    padding-left: var(--container-side-padding-desktop);
    padding-right: var(--container-side-padding-desktop);
  }

  .section-title {
    font-size: 42px;
  }

  /* ---------------- HEADER ---------------- */

  .nav {
    gap: 132px;
  }

  .nav-list {
    gap: 30px;
  }

  .header-wrap {
    flex-direction: row;
    align-items: center;
    gap: 42px;
  }

  /* ---------------- HERO ---------------- */

  .hero-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .hero-wrap {
    padding-bottom: 208px;
  }

  .swiper-slide-1 {
    background-image: var(--background-linear-gradient),
      url(../images/hero-background.jpg);
  }

  @supports (background-image: url("../images/hero-background.webp")) {
    .swiper-slide-1 {
      background-image: var(--background-linear-gradient),
        url("../images/hero-background.webp");
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .swiper-slide-1 {
      background-image: var(--background-linear-gradient),
        url(../images/hero-background@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @supports (background-image: url("../images/hero-background@2x.webp")) {
      .swiper-slide-1 {
        background-image: var(--background-linear-gradient),
          url("../images/hero-background@2x.webp");
      }
    }
  }

  .swiper-slide-2 {
    background-image: var(--background-linear-gradient),
      url(../images/hero-background-slide-2.jpg);
  }

  @supports (background-image: url("../images/hero-background-slide-2.webp")) {
    .swiper-slide-2 {
      background-image: var(--background-linear-gradient),
        url("../images/hero-background-slide-2.webp");
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .swiper-slide-2 {
      background-image: var(--background-linear-gradient),
        url(../images/hero-background-slide-2@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @supports (
      background-image: url("../images/hero-background-slide-2@2x.webp")
    ) {
      .swiper-slide-2 {
        background-image: var(--background-linear-gradient),
          url("../images/hero-background-slide-2@2x.webp");
      }
    }
  }

  .swiper-slide-3 {
    background-image: var(--background-linear-gradient),
      url(../images/hero-background-slide-3.jpg);
  }

  @supports (background-image: url("../images/hero-background-slide-3.webp")) {
    .swiper-slide-3 {
      background-image: var(--background-linear-gradient),
        url("../images/hero-background-slide-3.webp");
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .swiper-slide-3 {
      background-image: var(--background-linear-gradient),
        url(../images/hero-background-slide-3@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @supports (
      background-image: url("../images/hero-background-slide-3@2x.webp")
    ) {
      .swiper-slide-3 {
        background-image: var(--background-linear-gradient),
          url("../images/hero-background-slide-3@2x.webp");
      }
    }
  }

  .hero-title {
    font-size: 72px;
  }

  /* ---------------- ABOUT ---------------- */

  .about-img-list {
    flex-direction: row;
  }

  .about-wrap {
    padding-right: 100px;
  }

  .about-text {
    margin-bottom: 42px;
  }

  .about-bottom-text-item {
    display: inline;
  }

  /* ---------------- PRICES ---------------- */

  .prices {
    background-image: url(../images/prices-background.png);
  }

  @supports (background-image: url("../images/prices-background.webp")) {
    .prices {
      background-image: url(../images/prices-background.webp);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .prices {
      background-image: url(../images/prices-background@2x.png);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @supports (background-image: url("../images/prices-background@2x.webp")) {
      .prices {
        background-image: url(../images/prices-background@2x.webp);
      }
    }
  }

  .prices-wrap {
    display: flex;
    gap: 30px;
  }

  .prices-list {
    width: calc((100% - 30px) / 2);
    padding: 30px 20px;
  }

  .prices-list-item-mobile {
    display: none;
  }

  .prices-list:last-child {
    display: block;

    background-image: linear-gradient(
      180deg,
      rgb(9, 11, 19),
      rgba(9, 11, 19, 0.2) 100%
    );
  }

  /* ---------------- BENEFITS ---------------- */

  .benefits-container {
    flex-direction: row;
    gap: 130px;

    padding-left: 84px;
    padding-right: 116px;
  }

  .benefits-wrap {
    order: 1;
  }

  .benefits-list {
    width: 370px;
  }

  .benefits-list-item {
    width: 170px;
  }

  /* ---------------- BARBERS ---------------- */

  .barbers-list {
    flex-direction: row;
    gap: 30px;
  }

  /* ---------------- GALLERY ---------------- */

  .gallery-list-item {
    width: calc((100% - 4 * 30px) / 4);
  }

  /* ---------------- BOOKING + CONTACTS ---------------- */

  .section-wrap {
    display: flex;
    justify-content: center;

    max-width: var(--section-max-width);
    margin: 0 auto;
  }

  .booking,
  .contacts {
    width: calc(
      (
          var(--container-width-desktop) - var(--container-side-padding-desktop) *
            2
        ) / 2
    );
  }

  .booking {
    display: flex;
    flex-shrink: 0;

    padding: 130px 30px var(--container-vertical-padding-desktop)
      var(--container-side-padding-desktop);
  }

  .booking-container {
    width: 100%;
  }

  .contacts {
    padding: 130px 100px var(--container-vertical-padding-desktop);

    background-image: url(../images/contacts-background.png);
  }

  @supports (background-image: url("../images/contacts-background.webp")) {
    .contacts {
      background-image: url(../images/contacts-background.webp);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .contacts {
      background-image: url(../images/contacts-background@2x.png);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @supports (background-image: url("../images/contacts-background@2x.webp")) {
      .contacts {
        background-image: url(../images/contacts-background@2x.webp);
      }
    }
  }

  .contacts-address {
    margin-bottom: 70px;
  }
}
