/* ----------------MIN-WIDTH: 400px---------------- */

@media screen and (min-width: 400px) {
  /* ---------------- HERO ---------------- */

  .hero-title {
    font-size: 48px;
  }

  /* ---------------- PRICES ---------------- */

  .prices-list-item p {
    flex-shrink: 0;
  }
}

/* ----------------MIN-WIDTH: 480px---------------- */

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

/* ----------------MAX-WIDTH: 767px---------------- */

@media screen and (max-width: 767px) {
  /* ---------------- ABOUT ---------------- */

  .about-wrap-title {
    max-width: 306px;
  }
}

/* ----------------MIN-WIDTH: 768px---------------- */

@media screen and (min-width: 768px) {
  /* ---------------- COMMON ---------------- */

  body {
    font-size: 18px;
    line-height: 1.67;
  }

  .container {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }

  /* ---------------- HEADER ---------------- */

  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .logo {
    color: var(--text-black-color);
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 58px;

    margin-right: auto;
  }

  .nav-list {
    display: flex;
    gap: 20px;
  }

  .nav-item {
    transition: color var(--transition-duration)
      var(--transition-timing-function);
  }

  .nav-item:is(:hover, :focus) {
    color: var(--accent-color);
  }

  .header-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .header-tel {
    text-align: center;
  }

  .mobile-menu-btn {
    display: none;
  }

  /* ---------------- HERO ---------------- */

  .hero-container {
    display: flex;

    padding-left: 39px;
    padding-right: 39px;
  }

  .hero-wrap {
    padding: 272px 100px 208px;
  }

  .hero-links-wrap {
    display: flex;
    align-items: flex-end;

    width: 100px;
    padding-bottom: 40px;
    padding-left: 27px;
  }

  .hero-wrap {
    padding: 272px 100px 238px;

    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../images/hero-background-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url(../images/hero-background-tablet@2x.jpg);
    }
  }

  .hero-bottom-text {
    max-width: 360px;
  }

  /* ---------------- ABOUT ---------------- */

  .about-container {
    display: flex;
    gap: 30px;
  }

  .about-img-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-shrink: 0;
  }

  .about-wrap {
    display: flex;
    flex-direction: column;
  }

  .about-text {
    margin-bottom: auto;
  }

  .about-booking-btn {
    align-self: start;
  }

  /* ---------------- PRICES ---------------- */

  .prices-list {
    padding: 40px 32px;
  }

  .prices-list-item {
    font-size: 18px;
    line-height: 1.67;
  }

  /* ---------------- BENEFITS ---------------- */

  .benefits-title {
    max-width: 448px;
  }

  .benefits-list {
    width: 450px;
  }

  .benefits-list-item {
    width: 210px;
  }
}

/* ----------------MIN-WIDTH: 768px and MAX-WIDTH: 1199px---------------- */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* ---------------- HEADER ---------------- */

  .header-tel {
    order: 1;
  }

  /* ---------------- ABOUT ---------------- */

  .about-img-list {
    width: 330px;
  }

  .about-img-list img {
    display: block;
    width: 100%;
  }

  /* ---------------- BENEFITS ---------------- */

  .benefits-bottom-text {
    max-width: 500px;
  }

  .benefits-list {
    margin-left: auto;
  }
}

/* ----------------MIN-WIDTH: 1200px---------------- */

@media screen and (min-width: 1200px) {
  /* ---------------- COMMON ---------------- */

  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-title {
    font-size: 42px;
  }

  /* ---------------- HEADER ---------------- */

  .nav {
    gap: 132px;
  }

  .nav-list {
    gap: 30px;
  }

  .header-wrap {
    flex-direction: row;
    align-items: center;
    gap: 42px;
  }

  /* ---------------- HERO ---------------- */

  .hero-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .hero-wrap {
    padding-bottom: 208px;

    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../images/hero-background.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url(../images/hero-background@2x.jpg);
    }
  }

  .hero-title {
    font-size: 72px;
  }

  /* ---------------- ABOUT ---------------- */

  .about-img-list {
    flex-direction: row;
  }

  .about-wrap {
    padding-right: 100px;
  }

  .about-text {
    margin-bottom: 42px;
  }

  .about-bottom-text-item {
    display: inline;
  }

  /* ---------------- PRICES ---------------- */

  .prices-wrap {
    display: flex;
    gap: 30px;
  }

  .prices-list {
    width: calc((100% - 30px) / 2);
    padding: 30px 20px;
  }

  .prices-list-item-mobile {
    display: none;
  }

  .prices-list:last-child {
    display: block;

    background-image: linear-gradient(
      180deg,
      rgb(9, 11, 19),
      rgba(9, 11, 19, 0.2) 100%
    );
  }

  /* ---------------- BENEFITS ---------------- */

  .benefits-container {
    flex-direction: row;
    gap: 130px;

    padding-left: 84px;
    padding-right: 116px;
  }

  .benefits-wrap {
    order: 1;
  }

  .benefits-list {
    width: 370px;
  }

  .benefits-list-item {
    width: 170px;
  }
}
