/* ---------------- VARIABLES ----------------  */

:root {
  --font-family: "OpenSans", sans-serif;
  --second-font-family: "Raleway", sans-serif;

  --accent-color: #ff6c00;
  --text-white-color: #ffffff;
  --text-black-color: #303030;
  --sub-text-color: #555555;
  --text-gray-color: #9da4bd;
  --text-gray-color-with-transparency: rgba(157, 164, 189, 0.4);
  --background-color-light: #f7f7f7;
  --background-color-dark: #191c26;

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------- COMMON ---------------- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.63;

  color: var(--text-black-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

a {
  text-decoration: none;

  color: currentColor;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;

  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.section {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 100%;
  padding-left: 31px;
  padding-right: 31px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 20px;

  font-family: var(--second-font-family);
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

.section-top-text {
  display: flex;
  align-items: center;
  gap: 20px;

  margin-bottom: 20px;

  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0;
  text-transform: uppercase;
}

.section-top-text::before {
  content: "";

  width: 60px;
  height: 1px;

  background-color: currentColor;
}

.section-bottom-text {
  letter-spacing: 0.02em;
}

.button {
  min-width: 160px;
  height: 40px;
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;

  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: var(--text-black-color);
  background-color: transparent;

  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.button:is(:hover, :focus) {
  color: var(--text-white-color);
  background-color: var(--accent-color);
}

.active-link {
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.active-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.list-links {
  display: flex;
  align-items: center;
  gap: 40px;

  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.list-links::before {
  content: "";

  display: block;

  width: 60px;
  height: 1px;

  background-color: currentColor;
}

.dark-theme-text {
  color: var(--text-white-color);
}

/* ---------------- HEADER ---------------- */

.header {
  position: absolute;

  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;

  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 68px;
  height: 56px;

  color: var(--text-white-color);
}

.logo-icon {
  fill: currentColor;
}

.nav-list {
  display: none;
}

.header-wrap {
  display: none;
}

.mobile-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border: none;
  padding: 0px;
  margin-left: auto;

  color: var(--text-white-color);
  background-color: transparent;
}

.open-menu-icon {
  fill: currentColor;
}

/* ---------------- HERO ---------------- */

.hero-container {
  padding: 0px;
}

.hero-links-wrap {
  display: none;
}

.hero-links-list {
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
}

.hero-wrap {
  flex-grow: 1;

  padding: 208px 32px 208px;

  color: var(--text-gray-color);
  background-color: var(--text-black-color);
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@supports (background-image: url("../images/hero-background-mobile.webp")) {
  .hero-wrap {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url("../images/hero-background-mobile.webp");
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-wrap {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../images/hero-background-mobile@2x.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  @supports (
    background-image: url("../images/hero-background-mobile@2x.webp")
  ) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url("../images/hero-background-mobile@2x.webp");
    }
  }
}

.hero-title {
  margin-bottom: 20px;

  font-family: var(--second-font-family);
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.hero-bottom-text {
  max-width: 320px;
}

/* ---------------- ABOUT ---------------- */

.about-wrap-title {
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.about-bottom-text {
  margin-bottom: 20px;
}

.about-bottom-text-item {
  display: none;
}

.about-text {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

/* ---------------- PRICES ---------------- */

.prices {
  max-width: 1600px;
  margin: 0 auto;

  color: var(--text-gray-color);
  background-color: #111319;
  background-image: url(../images/prices-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices-background@2x.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.prices-wrap {
  margin-bottom: 44px;
}

.prices-title {
  margin-bottom: 44px;

  font-size: 40px;
}

.prices-list {
  padding: 30px 20px 30px 40px;

  background-image: linear-gradient(
    180deg,
    rgb(23, 26, 36),
    rgba(23, 26, 36, 0.2) 100%
  );
}

.prices-list:last-child {
  display: none;
}

.prices-list-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;

  font-size: 14px;
  line-height: 1.43;
}

.prices-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.prices-list-item p:first-child {
  order: -1;
}

.prices-list-item::before {
  content: "";

  flex-grow: 1;

  width: 100px;
  height: 1px;

  background-color: rgba(157, 164, 189, 0.12);
}

.prices-list-item p {
  letter-spacing: 0.02em;
}

.prices-btn {
  display: block;

  margin: 0 auto;
}

/* ---------------- BENEFITS ---------------- */

.benefits-container {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.benefits-title {
  letter-spacing: 0.04em;
}

.benefits-bottom-text {
  font-size: 18px;
  line-height: 1.67;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 30px;
  flex-shrink: 0;
}

.benefits-list-item {
  width: calc((100% - 30px) / 2);
  height: 132px;
  padding: 20px 24px;

  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0;
  text-align: center;

  background-color: var(--background-color-light);
}

.benefits-list-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-list-item:nth-child(2) {
  margin-top: 35px;
}

.benefits-list-item-count {
  display: block;

  margin-bottom: 6px;

  font-size: 42px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

.benefits-list-item-count::after {
  content: "+";

  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
  letter-spacing: 0;
  vertical-align: top;

  color: transparent;

  text-shadow: 2px 8px var(--accent-color);
}

.benefits-wrap {
  padding-top: 8px;
}

/* ---------------- BARBERS ---------------- */

.barbers {
  max-width: 1600px;
  margin: 0 auto;

  background-color: var(--background-color-light);
}

.barbers-title {
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.barbers-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-item-img-wrap {
  height: 346px;
  margin-bottom: 30px;
}

.barbers-item-img-wrap img {
  width: 100%;
  height: 100%;
}

.barbers-item-name {
  margin-bottom: 8px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.39;
  letter-spacing: 0.02em;
  text-align: center;
}

.barbers-item-text {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--accent-color);
}

.barbers-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--text-black-color);
  background-color: var(--text-white-color);

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.barbers-social-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.barbers-social-icon {
  fill: currentColor;
}

/* ---------------- GALLERY ---------------- */

.gallery-top-text {
  margin-bottom: 72px;
}

.gallery-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.gallery-list-item {
  display: block;
  width: 100%;
}

.gallery-list-item img {
  width: 100%;
}

/* ---------------- BOOKING ---------------- */

.section-wrap {
  display: flex;
  justify-content: center;
  gap: 30px;

  max-width: 1600px;
  margin: 0 auto;

  background-color: var(--background-color-dark);
}

.booking {
  display: flex;
  flex-shrink: 0;

  width: calc((100% - 30px) / 2);
  padding: 130px 15px 120px;

  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.booking-container,
.contacts-container {
  width: calc((1200px - 30px) / 2);
  margin-left: auto;
}

.booking-form {
  margin-left: auto;

  color: var(--text-gray-color-with-transparency);
}

.booking-inputs-wrap {
  display: flex;
  gap: 30px;

  margin-bottom: 44px;
}

.booking-input-label {
  width: calc((100% - 30px) / 2);
}

.booking-message-label-text {
  position: absolute;

  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.booking-message-label-text:has(+ .booking-input:focus),
.booking-message-label-text:has(+ .booking-input:not(:placeholder-shown)) {
  transform: translateY(calc(-1 * (100% + 4px)));
}

.booking-input {
  display: block;

  width: 100%;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 8px;

  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;

  color: currentColor;
  background-color: transparent;
  outline: transparent;
}

.booking-input-label:has(> .booking-input:focus),
.booking-message-label:has(> .booking-input:focus) {
  color: var(--text-white-color);
}

.booking-message-label {
  display: block;

  margin-bottom: 44px;
}

.booking-message {
  width: 100%;
  height: 76px;

  resize: none;
}

/* ---------------- CONTACTS ---------------- */

.contacts {
  display: flex;
  flex-shrink: 0;

  width: calc((100% - 30px) / 2);
  padding: 130px 100px 120px;
  margin-right: auto;

  letter-spacing: 0.02em;

  color: var(--text-gray-color);
  background-image: url(../images/contacts-background.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/contacts-background@2x.png);
  }
}

.contacts-title {
  margin-bottom: 40px;
}

.contacts-address {
  margin-bottom: 70px;
}

.contacts-address-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-address-link:is(:hover, :focus) {
  text-decoration: underline;
}

.contacts-address-link {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.contacts-address-icon {
  fill: transparent;
  stroke: currentColor;
}

.contacts-location .contacts-address-icon {
  transform: translateY(-50%);
}

.contacts-location {
  font-weight: 700;
}

.contacts .section-top-text::before {
  background-color: var(--text-gray-color);
}

/* ---------------- FOOTER ---------------- */

.footer {
  padding-top: 56px;
  padding-bottom: 56px;

  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.02em;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  color: var(--text-gray-color);
}
